{% extends "base.html" %}

{% block title %}ContactsBook{% endblock %}
{% block body %}

{% for contact in contacts %}
<div class=" mb-3 bg-red text-white p-3 rounded text-center font-b">
    <form action="/edit-contact" method="POST">
        <div class="form-row">
            <div class="col-3">
                <input type="text" class="form-control" name="name" placeholder="Contact Name"
                    value="{{ contact.name }}">
            </div>
            <div class="col-4">
                <input type="text" class="form-control" name="lastname" placeholder="Contact Lastname"
                    value="{{ contact.lastname }}">
            </div>
            <div class="col-3">
                <input type="text" class="form-control" name="phone" placeholder="Phone number"
                    value="{{ contact.phone }}">
            </div>
            <input type="hidden" name="contact_id" value="{{ contact.id }}">
            <input type="submit" class="btn btn-dark ml-1" value="Update">
        </div>
    </form>
</div>
{% endfor %}
{% endblock %}